/******************** Header CSS start ***********************/

body {
  font-family: "Poppins-Regular";
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "RecifeDisplay";
  src: url("./assets/fonts/recife/RecifeDisplay-Light.ttf");
}
@font-face {
  font-family: "Recoleta";
  src: url("./assets/fonts/recoleta/Recoleta-RegularDEMO.otf");
}

header {
  background: #fff;
  z-index: 250;
  height: var(--header-height);
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  height: var(--header-height);
}
.menu-btn {
  left: 3px;
}
.menu-btn,
.close-btn {
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 8px;
  display: none;
  cursor: pointer;
}
.menu-btn {
  top: 13px !important;
}
.header .menu .drawer {
  display: flex;
  height: var(--header-height);
}
.nav-menus {
  column-gap: 40px;
  flex-direction: row;
}
.dropdown {
  position: initial;
}
.header .menu .drawer a {
  text-transform: capitalize;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  padding: 0;
  color: #171717;
  font-size: 15px;

  position: relative;
  font-family: "Inter";
  font-weight: 300;
}
.nav-menus .nav-link {
  color: #171717;
}
.nav-menus .dropdown-item {
  color: #171717;
  font-family: "Poppins-Regular" !important;
}
.header .menu .drawer .nav-item > a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #171717;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.nav-link.dropdown-toggle-icon.show-modal:focus::after {
  transform: rotate(180deg);
}
/* .dropdown-toggle-icon::after {
  content: "";
  width: 15px;
  background: url(../images/down.png) no-repeat center;
  height: 15px;
  background-size: 10px;
  transition: 0.3s ease-in;
} */
.nav-menus .dropdown-menu {
  top: 25px !important;
  z-index: 999;
}
.navbar-nav .dropdown-menu {
  padding: 20px;
  border-top: 1px solid #171717;
  border-radius: 0;
}
.nav-menus .dropdown-menu li:not(:last-child) {
  margin-bottom: 10px;
}
.navbar-nav .dropdown-menu {
  position: static;
}
.dropdown {
  position: relative;
}
.dropdown-menus {
  display: none;
  position: absolute;
  top: 23px;
  background: #fff;
  z-index: 1;
  padding: 0px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.175);
}
.nav-item.dropdown .dropdown-menus a {
  font-family: "Recoleta" !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.12px;
  letter-spacing: 1px;
  /* color: #fff; */
}
.dropdown:hover .dropdown-menus {
  display: block;
}
.dropdown-menus li {
  padding: 0 20px;
}
.nav-menus .dropdown-menus li:not(:last-child) {
  margin-bottom: 10px;
}
.nav-menus .dropdown-menus li:first-child {
  margin-top: 20px;
}
.nav-menus .dropdown-menus li:last-child {
  margin-bottom: 20px;
}
.nav-menus .dropdown-menus li:first-child {
  margin-top: 20px;
}
.inner-drop-wrap {
  position: relative;
}
.inner-drop-menu {
  display: none;
  position: absolute;
  top: -21px;
  left: 235px;
  background: #fff;
  z-index: 1;
  padding: 0px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.175);
}
.inner-drop-wrap:hover .inner-drop-menu {
  display: block;
}
.inner-aro-menu {
  display: flex;
  justify-content: space-between;
}
.inner-aro-menu img{
  width: 10px;
}
/* .inner-aro-menu img{
  width: 12px;
} */
.mega-menu {
  width: 100%;
  top: 20px !important;
  transition: 0.5s ease-in-out;
}
.mega-menu-heading {
  color: #171717;
  font-family: "Poppins-Medium";
  text-transform: uppercase;
}
.mega-menu p a {
  text-decoration: none;
  font-family: "Poppins-Medium";
  opacity: 0.7;
}
.menu .dropdown-item:active {
  background-color: transparent;
}
.nav-buttons {
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
.search-menu {
  /* display: none; */
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 65px;
  right: 0px;
  z-index: -1;
  background: #fff;
  padding: 20px 0;
  transform: translate(0px, -20px);
  transition: 0.5s ease-in;
  padding: 20px;
}
.search-menu h2 {
  font-size: 40px;
  text-align: center;
  color: #ad543b;
}
.search-menu .inner-content {
  font-family: "Playfair-Display-italic";
  font-style: italic;
  color: #f3bd49;
}
.input-wrap {
  position: relative;
  margin: 20px 0;
}

.search-btn img {
  width: 20px;
}
.show {
  /* display: block; */
  opacity: 1;
  /* z-index: 9; */
  transform: translate(0px, 0px);
}
.search-box {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 4px solid #ad543b;
  font-size: 25px;
  color: #ad543b;
}
.search-box:focus-visible {
  outline: none;
}
.input-wrap span {
  position: absolute;
  right: 6px;
  font-size: 40px;
  bottom: 0px;
  cursor: pointer;
  color: #ad543b;
}
.nav-buttons .log-in-btn {
  border: 1px solid #ad543b;
  padding: 10px 14px 10px 14px;
  border-radius: 40px;
  text-decoration: none;
  color: #ad543b;
  font-family: "Poppins-Medium";
}
.nav-buttons .cart-btn {
  border: 1px solid black;
  padding: 10px 12px 10px 12px;
  border-radius: 100%;
  text-decoration: none;
  color: #ad543b;
  gap: 10px;
  display: flex;
  align-items: center;
  font-family: "Poppins-Medium";
}
.product-wrap a {
  text-decoration: none;
}
.product-wrap .card {
  border: none;
}
.product-wrap .card-body {
  padding: 0;
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
.product-info .product-title {
  color: #ad543b;
  font-size: 18px;
}
.product-info .product-price {
  color: #ca8d00;
  font-size: 18px;
}
.number_digit {
  color: white;
  position: absolute;
  top: 0;
  border-radius: 100%;
  padding: 5px;
  line-height: 11.66px;
  right: -10px;
  background-color: black;
}
.cart-btn {
  position: relative;
}
.search-btn {
  color: #242121;
  text-decoration: none;
  font-size: 12.99px;
  line-height: 19.48px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: "Recoleta";
}
.top_section .sign_up_text {
  font-size: 14px;
  line-height: 16.94px;
  color: #393939;
  font-family: "Inter";
  font-weight: 300;
}

.sign_up_text .legend_text {
  color: #1a1919;
  font-weight: 500;
}
.top_section {
  background-color: #d9d9d9;
  padding-top: 9px;
  height: 42px;
}

.explore_more button {
  width: 170px;
  height: 57px;
  background-color: #201e1e;
  border: 2px solid #201e1e;
  /* padding: 13px 4px 13px 4px; */
  font-size: 18px;
  line-height: 31.27px;
  color: #ffffff;
  transition: 0.5s all;
  font-family: "Recoleta";
}


.explore_more a {
  /* padding: 13px 4px 13px 4px; */
  font-size: 20px;
  line-height: 31.27px;
  color: #000;
  transition: 0.5s all;
  font-family: "Recoleta";
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: end;
  transition: 0.4s ease-in-out;
}
.explore_more a:hover span {
  border: 1px solid #000;
  background: transparent;
}
.explore_more a:hover .show_arrow {
  display: block;
}
.explore_more a:hover .hide_arrow {
  display: none;
}
.explore_more a span {
  background: #000;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore_more a img {
  width: 45px
}
.artistry_section .motion_text {
  color: rgba(0, 0, 0, 0.78);
  letter-spacing: 1px;
  line-height: 27.28px;
  font-family: "Recoleta";
  font-weight: 400;
  font-size: 16px;
}
.artistry_section .matt_writer{
  font-family: "Roboto Serif";
  font-weight: 300;
  font-size: 16px;
  line-height: 27.28px;
  color: #000;
}
.artistry_section .motion_heading {
  font-size: 51.62px;
  line-height: 61.94px;
  font-weight: 300;
  font-family: "RecifeDisplay" !important ;
}

.artwork_Section {
  margin-top: 60px;
}
.horse_slider_section .motion_heading {
  font-family: "Recoleta" !important;
  font-size: 49px;
  line-height: 49px;
}
.horse_slider_section .motion_text {
  font-family: "Roboto Serif", serif;
  max-width: 817px;
  font-weight: 400;
  color: #000000C7;
}
.mustang_section {
  margin-top: 35px;
}
.explore_heading h1 {
  font-size: 51px;
  font-family: "RecifeDisplay";
  font-weight: 300;
  line-height: 67px;
  letter-spacing: 1.5px;
}
.explore_heading .explore_text {
  font-size: 19px;
  line-height: 25.84px;
  letter-spacing: 1.2px;
  font-family: "Recoleta";
}
.mustang_heading {
  font-family: "Recoleta";
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  color: rgba(0, 0, 0, 1);
}
.mustang_text {
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.78);
}
.view_series button {
  width: 196.94px;
  height: 57px;
  border: 2px solid rgba(32, 30, 30, 1);
  background: rgba(32, 30, 30, 1);
  padding: 13px 21px;
  color: white;
  font-size: 22.99px;
  font-family: "Recoleta";
  line-height: 31.27px;
}

.view_Series_slider {
  float: right;
}

.matt_Dusing {
  background: url("./assets/images/Matt_bg.png") no-repeat right;
  padding-top: 80px;
  padding-bottom: 80px;
}
.matt_heading h1 {
  font-size: 51px;
  font-family: "Recoleta";
  line-height: 95.2px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.matt_text {
  font-size: 20px;
  font-family: "Overlock";
  line-height: 28px;

  letter-spacing: 1px;
  color: rgba(70, 70, 70, 1);
}
.matt_anchor .read_more a {
  color: rgba(0, 0, 0, 1);
  font-size: 22.99px;
  font-family: "Recoleta";
  font-weight: 400;
  text-decoration: none;
}
.matt_Dusing {
  position: relative;
  margin-top: -20px;
}
.smallimg {
  position: absolute;
  bottom: 0px;
}
.Exhibition_section {
  background-color: rgba(242, 242, 242, 0.85);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.Exhibition_section .left_image {
  /* position: absolute; */
  /* top: 70px; */
  /* width: 500px; */
  margin-bottom: 5px;
  display: flex;
    column-gap: 5px;
}
.Exhibition_section .left_image img{
  width: 50%;
}
.Exhibition_section .left_image_section .view_award {
  display: none;
}
.exhibition_heading h3 {
  font-size: 49px;
  line-height: 62px;
  font-family: "Recoleta";
}
.exhibition_text {
  font-size: 20px;
  font-family: "Overlock";
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.84);
}
.dusing_img img{
  max-width: 213px;
}
.polygons {
  position: relative;
}
.wild-slider-img-wrap{
  display: flex;
  column-gap: 7px;
}
.wild-slider-img-wrap img{
  width: 100%;
  height: 100%;
}
.wild-slider-img-sec img{
  max-width: 334px;
  object-fit: cover;
}
.wild-slider-img-sec-third img{
  max-width: 311px;
}
.mobile_flex{
  display: flex;
  column-gap: 5px;
}
.artwork_Section .polygon_left::before {
  content: "";
  position: absolute;
  width: 48%;
  height: 2px;
  background: rgba(217, 217, 217, 1);
  top: 50%;
  right: 0px;
}
.artwork_Section .polygon_left::after {
  content: "";
  position: absolute;
  width: 48%;
  height: 2px;
  background: rgba(217, 217, 217, 1);
  top: 50%;
  left: 0px;
}
/* .swiper-pagination-bullet-active:nth-child(3):after{
  background-color: transparent !important;
} */
.mobile_view {
  display: none;
}
.mobile-view_dusing {
  display: none;
}
@media (max-width: 600px) {
  .mobile-view_dusing {
    display: block;
  }
  .desktop_dusing {
    display: none !important;
  }
  .back-wrap {
    display: none;
  }
  .Mustang_text p {
    font-family: "Overlock";
    font-weight: 400;
  }
  br {
    display: none;
  }
  .breadcrum-wrap {
    justify-content: center !important;
  }
  .header .menu .drawer.drawer-visible {
    width: 100% !important;
    left: -600px;
  }
  .menu-btn {
    position: initial;
  }
  .mobile_view {
    display: block;
  }
  .desktop_legend_section {
    display: block !important;
  }
}

.view_award button {
  width: 185px;
  background-color: rgba(32, 30, 30, 1);
  color: white;
  border: 2px solid rgba(32, 30, 30, 1);
  height: 57px;
  font-size: 16px;
  font-family: "Recoleta";
  line-height: 31.27px;
  font-weight: 400;
  transition: 0.5s all;
}
.legend_section {
  /* margin-top: 180px; */
  padding-top: 60px;
}
.west_coffee h1 {
  font-size: 51px;
  line-height: 67px;
  font-family: "Recoleta";
  color: rgba(26, 24, 24, 1);
}
.west_coffee h3 {
  font-size: 49px;
  line-height: 62px;
  font-family: "Recoleta";
  color: rgba(26, 24, 24, 1);
}
.separator_bar{
  height: 1px;
  background-color: grey;
  border-top: none;
  margin-top: 80px;
  border-radius: 30px;
}
.west_coffee .legends_text {
  font-weight: 600;
  font-size: 17px;
  line-height: 31.32px;
  font-family: "Inter" !important;
  color: rgba(26, 24, 24, 1);
}
.west_coffee .west_legends {
  font-family: "Overlock";
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;

  color: rgba(18, 18, 19, 1);
}

.Buy_now_btn button {
  width: 171.94px;
  height: 57px;
  border: 2px solid rgba(32, 30, 30, 1);
  background: rgba(32, 30, 30, 1);
  color: white;
  font-size: 22.99px;
  line-height: 31.27px;
  font-family: "Recoleta";
  font-weight: 400;
  transition: 0.5s all;
}
.view-series-btn-botm button{
  width: 160.94px;
  font-size: 16px;
}
.left_section .buy_now {
  display: flex;
  gap: 30px;
  align-items: center;
}
.left_section .Usd_65 h2 {
  /* font-family: 'Poppins'; */
  font-weight: 600;
  font-size: 28.17px;
  color: rgba(26, 24, 24, 1);
}
.legend_section .right_section img{
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 80%;
}
.Usd_65 .free_shipping {
  font-size: 15.17px;
  line-height: 22.75px;
  /* font-family: 'Poppins'; */
  font-weight: 400;
  color: rgba(26, 24, 24, 1);
}
.slider_section {
  height: 135vh;
  overflow-x: hidden;
}

.intro {
  height: 135vh;
  width: 100%;
  background: #999;
}
.containers {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 135vh;
  color: #333;
}
.slick-track,
.slick-list {
  height: 135vh;
}
.slick-dotted.slick-slider {
  margin: 0;
}
.slides {
  width: 100%;
  height: 135vh;
}
.slides .slide {
  color: #419be0;
  background: white;
  width: 100% !important;
  height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.mobile_view_social {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
.slick-dots li {
  display: block;
}

.footer_section {
  background-color: rgba(228, 228, 228, 1);
}
.footer_title h1 {
  font-size: 27.01px;
  line-height: 23.15px;
  font-family: "Recoleta";
  font-weight: 400;
  color: rgba(52, 52, 52, 1);
}
.footer_content {
  padding-top: 80px;
}
.footer_navs {
  /* gap: 120px; */
  justify-content: space-between;
}
.footer_navs ul li {
  margin-top: 8px;
}
.footer_navs ul li a {
  color: rgba(52, 52, 52, 1);
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 12px;
  text-decoration: none;
}
.social_navs {
  /* gap: 90px; */
  justify-content: space-between!important;
}
.social_navs ul li {
  margin-top: 8px;
}
.social_navs ul li a {
  color: rgba(52, 52, 52, 1);
  font-size: 14px;
  text-decoration: none;

  line-height: 14.18px;
  font-weight: 600;
  font-family: "Poppins-Regular";
}
.mobile_view_social ul li {
  margin-top: 8px;
}
.mobile_view_social ul li a {
  color: rgba(52, 52, 52, 1);
  font-size: 14px;
  text-decoration: none;

  line-height: 14.18px;
  font-weight: 600;
  font-family: "Poppins-Regular";
}

.social_navs ul li img {
  width: 19.99px;
  height: 19.94px;
}
.mobile_view_social ul li img {
  width: 19.99px;
  height: 19.94px;
}
.social_navs ul li .images_gap {
  margin-right: 10px;
  margin-top: 0px;
}
.mobile_view_social ul li .images_gap {
  margin-right: 10px;
  margin-top: 0px;
}

.border_footer {
  background: url("./assets/images/footer-line.svg") no-repeat;
  margin-bottom: 30px;
  background-size: contain;
  padding: 10px;
}
.footer_copywrite .copywrite_text {
  color: rgba(11, 10, 10, 1);
  font-size: 14px;
  line-height: 16.94px;
  font-family: "Inter";
}
.copywrite_text .main_writer {
  font-weight: 700;
  text-decoration: underline;
}

/* slidercss */

.body {
  position: relative;
  height: 120vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .sliderimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  background-color: transparent !important;
}
.mySwiper {
  position: relative;
}
.swiper-pagination {
  position: absolute;
  top: 29% !important;

  right: 5% !important;
}
.swiper-pagination-bullet {
  margin-top: 50px !important;
  font-size: 30px;
}
.swiper-slide .imagess {
  width: 91%;
  position: absolute;
  top: 20%;
  left: 0px;
}
.swiper-slide {
  justify-content: start;
  flex-direction: column;
}
.horse_slider_section {
  margin-top: 60px;
}
.swiper-pagination-bullet {
  position: relative;
  cursor: pointer;
}

.swiper-pagination-bullet-active::after .swiper-pagination-bullet {
  margin-top: 80px !important;
}

.swiper-pagination-bullet-active .swiper-pagination-bullet {
  margin-top: 80px !important;
}

.swiper-pagination-bullet-active::after .swiper-pagination-bullet {
  height: 80px; /* Adjust height as needed */
  /* Adjust height as needed */
  bottom: 20px;
}
.swiper-pagination-bullet-active {
  height: 124px;
  background: #000;
  position: relative;
}

.swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 124px;
  background: #000;
  border-radius: 4px;
  left: 15px;
  transition: height 0.5s all;
}
/* .swiper-pagination-bullet:nth-child(3):after {
        background-color: transparent;
    } */

.mobile_view {
  display: none;
}
.explore_more button:hover {
  background-color: white;
  color: black;
}
.view_award button:hover {
  background-color: white;
  color: black;
}
.Buy_now_btn button:hover {
  background-color: white;
  color: black;
}
.show_arrow {
  display: none;
}
.explore_more button:hover .hide_arrow {
  display: none;
}
.explore_more button:hover .show_arrow {
  display: inline;
}
.view_award button:hover .hide_arrow {
  display: none;
}
.view_award button:hover .show_arrow {
  display: inline;
}
.Buy_now_btn button:hover .hide_arrow {
  display: none;
}
.Buy_now_btn button:hover .show_arrow {
  display: inline;
}
.mobile_view {
  display: none !important;
}
.horse-mobile-img {
  display: none;
}
.experience-sec h1 {
  font-size: 51.62px;
  line-height: 70.2px;
  letter-spacing: 1px;
  font-family: "Recoleta";
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.experience-sec p a {
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: "Recoleta";
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.experi-heading {
  font-size: 26.62px;
  line-height: 42.7px;
  letter-spacing: 1px;
  font-family: "Recoleta";
  font-weight: 400;
  margin-bottom: 0;
  color: #000000;
}
.experi-subheading {
  font-size: 18.62px;
  line-height: 29.87px;
  letter-spacing: 1px;
  font-family: "Recoleta";
  font-weight: 400;
  color: #000000;
}
.experience-sec {
  background: url("./assets/images/linee.svg") no-repeat;
  background-position: center 44%;
  background-size: 195px;
  padding: 15px;
  position: relative;
}
/* .experience-sec {
  padding-bottom: 130px !important;
} */

.experi-text-bold {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  font-family: "Overlock";
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}
.heading_icon_first {
  position: absolute;
  right: -102px;
  top: 0px;
}

.heading_icon_third {
  position: absolute;
  right: -110px;
  top: 0px;
}
.heading_icon_fourth {
  position: absolute;
  left: -120px;
  top: 0px;
  background: #000;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading_icon_fourth img{
  filter: invert(1) brightness(2);
}

.experi_margin {
  margin-top: -33px !important;
}
.heading_icon_second {
  position: absolute;
  left: -100px;
  top: 0px;
}
.experi-text {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1px;
  font-family: "Overlock";
  font-weight: 400;
  color: #000000;
}
.experi-card {
  margin-top: 40px;
}
.experi-card-sec {
  margin-top: 445px;
}
.experi-card-one{
  margin-top: 345px;
}
.desktop_cards {
  display: none;
}
.header .logo {
  width: 125px;
}

@media (max-width: 920px) {
  .menu-btn,
  .close-btn {
    display: block;
  }
  .header .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .user-menu {
    display: none;
  }
  .header .menu {
    display: flex;
    position: fixed;
    top: 0;
    left: -925px;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  .header .menu .drawer {
    box-shadow: 2px 0 12px rgb(0 0 0 / 40%);
    padding-top: 50px;
    height: 100%;
    width: 50%;
    background: #1e1e1e;
    flex-direction: column;
    position: fixed;
    left: -500px;
    transition: all 500ms linear;
    overflow: auto;
  }
  .blur {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    left: 0 !important;
  }
  .drawer-visible {
    left: 0 !important;
  }
}

@media (max-width: 820px) {
  .nav-menus {
    flex-direction: column;
  }
  .header .menu .drawer .nav-menus a {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    margin: 5px 10px;
    font-size: 25px;
    color: #fff;
    font-family: "Recoleta";
    font-weight: 400;
  }
  .close-btn {
    background: #fff;
    right: 15px;
    left: initial;
    top: 15px;
  }
  .inner-aro-menu {
    display: flex;
    column-gap: 20px;
  }
  .inner-aro-menu img {
    width: 12px;
  }
  .navbar-nav .dropdown-menu {
    padding: 15px 0;
    background: #1e1e1e;
  }
  .nav-menus .dropdown-menu {
    top: 0px !important;
    width: 100%;
    left: 0px !important;
  }
  .dropdown-menus {
    top: 23px;
    left: 29px;
    background: #504e4e;
  }
  .inner-drop-menu {
    position: initial;
    background: #696969;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .legend_section {
    margin-top: 0px;
  }
  .Exhibition_section .left_image {
    position: initial;
    width: auto;
  }
  .matt_Dusing {
    padding-top: 120px;
    padding-bottom: 80px;
    background-size: cover;
  }
  .Exhibition_section {
    padding-bottom: 115px;
  }
  .smallimg {
    position: initial;
  }
  .swiper-slide .imagess {
    top: 46%;
  }
  .horse_slider_section.desktop_Section .body {
    position: relative;
    height: 61vh;
  }
  .exhibition_heading.series-text-content {
    padding-left: 0;
  }
  .series-banner-content {
    padding-top: 15px;
  }
  .series-banner-content h2 {
    font-size: 60.96px;
    line-height: 93.3px;
    max-width: 586px;
}
.series-banner-content p {
  font-size: 17px;
  line-height: 23px;
  max-width: 586px;
}
}

@media (max-width: 767px) {
  .uncle_image {
    display: none;
  }
  .experience-sec {
    padding-bottom: 63px !important;
  }
  .matt_text_dusing {
    font-size: 22px;
    font-family: "Roboto", serif;
    line-height: 27.28px;
    font-weight: 300;
    letter-spacing: 0px;
  }

  .About_the_artist {
    font-family: "Recoleta";
    font-size: 30px;
    line-height: 40.8px;
    font-weight: 400;
    margin-top: 20px;
  }
  .classs_hide {
    display: none;
  }
  .innovated_title h1 {
    font-family: "Recoleta";
    font-weight: 400;
    font-size: 26.62px;
    line-height: 42.7px;
    letter-spacing: 2px;
  }
  .data_los_angles p {
    font-family: "Overlock";
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
  }
  .main_content {
    font-family: "Overlock";
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
  }
  .desktop_cards {
    display: block;
  }
  .innovated_title p {
    font-family: "Recoleta";
    font-weight: 400;
    font-size: 18.62px;
    line-height: 29.87px;
    letter-spacing: 2px;
  }
  .innovate_card {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  .experience-sec {
    background: rgba(233, 233, 233, 1);
  }
  .mobile_background {
    background-color: white !important;
  }

  .experience-sec h1 {
    font-size: 30.62px;
    line-height: 40.2px;
    letter-spacing: 1px;
    font-family: "Recoleta";
    font-weight: 400;
    text-align: center;
    color: #000000;
  }
  .explore_more a {
    justify-content: center;
}

  .right_about .as_seasoned {
    text-align: center;
    font-size: 17px !important;
    line-height: 23px !important;
    font-family: "Overlock" !important;
    letter-spacing: 1px !important;
    color: rgba(0, 0, 0, 1) !important;
    padding-right: 12px !important;
  }
  .header {
    padding: 10px 0;
    padding-right: 5px;
  }
  .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
  }
  .search-menu h2 {
    font-size: 28px;
  }
  .top_section {
    display: none;
  }
  .mobile_view {
    display: contents;
  }
  .dropdown-menus {
    left: 7px;
  }
  .top_text {
    background-color: rgba(84, 84, 84, 1);
  }
  .top_text .sign_up_text {
    font-size: 14px;
    line-height: 27.28px;
    font-family: "Roboto Serif", serif;
    color: #fff;
    margin-bottom: 0px;
    padding: 6px;
  }
  .artistry_section .motion_heading {
    margin-top: 20px;
    text-align: center;
    font-size: 35.57px;
    line-height: 42.57px;
    font-weight: 300;
    color: #000000;
  }
  .artistry_section .col-lg-9 {
    padding: 0 5px;
  }
  .motion_heading {
    font-family: "Recoleta";
  }
  .border_footer {
    background-size: auto;
  }

  .artistry_section .motion_text {
    color: #000000c7;
    letter-spacing: 1px;
    line-height: 21.7px;
    font-family: "Roboto Serif", serif;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    padding: 3px 10px;
    margin-bottom: 10px;
  }
  .artistry_section .matt_writer {
    text-align: center;
    font-family: "Roboto Serif", serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 27.28px;
    color: rgba(0, 0, 0, 1);
  }

  .explore_more button {
    width: 154px;
    height: 40.54px;
    background-color: #201e1e;
    border: 2px solid #201e1e;
    padding: 10px 4px 8px 7px;
    font-size: 16.4px;
    line-height: 12.3px;
    color: #ffffff;
    font-family: "Recoleta";
    font-weight: 400;
  }
  .artwork_Section .col-lg-7 {
    padding: 0 5px;
  }
  .separator_bar{
    margin-top: 10px;
  }
  .explore_more {
    margin-top: 6px;
    text-align: center !important;
  }
  .explore_more img {
    width: 12%;
  }
  .carousel_section {
    margin-top: 35px;
  }
  .carousel-item .horse_images {
    /* height: 293px; */
    object-fit: contain;
  }
  .explore_heading h1 {
    margin-top: -15px;
    font-size: 39.94px;
    font-family: "RecifeDisplay";
    font-weight: 300;
    line-height: 41.82px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
  }
  .explore_heading .explore_text {
    font-size: 11.66px;
    line-height: 18.78px;
    letter-spacing: 1.2px;
    font-family: "Roboto Serif", serif;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: 400;
    padding: 5px 33px;
  }
  .desktop_Section {
    display: none;
  }

  .carousel-control-next-icon {
    display: none;
  }
  .carousel-control-prev-icon {
    display: none;
  }

  .mobile_Section_carousel [data-bs-target] {
    box-sizing: content-box;
    flex: 1 0 auto;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    color: #8e8e8e;
    font-size: 22px;
    line-height: 30.55px;
    font-family: "Recoleta";
    text-indent: 0px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  .mobile_Section_carousel {
    position: absolute;
    bottom: -69px;
  }
  .mobile_Section_carousel button.active {
    color: #000000;
  }
  .custom_carousel .slider_image {
    width: 100%;
    height: 845px;
  }

  .mobile_Section_carousel .active::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 5px;
    bottom: 12px;
    margin-left: 15px;
    background-color: #000000;
    border-radius: 10px;
  }
  .mobile_wild h1 {
    font-size: 25px;
    font-family: "Recoleta";
    line-height: 35.98px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
  }
  .mobile_wild .venture_text {
    font-size: 12.48px;
    line-height: 19.82px;
    font-family: "Recoleta";
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.78);
  }
  .mobile_explore_more {
    text-align: center;
  }
  .mobile_explore_more button {
    width: 183px;
    height: 42.54px;
    background-color: #201e1e;
    border: 2px solid #201e1e;
    padding: 10px 4px 8px 7px;
    font-size: 16.88px;
    line-height: 22.99px;
    color: #ffffff;
    font-family: "Recoleta";
    font-weight: 400;
  }
  .mobile_explore_more button img {
    width: 10%;
  }
  .matt_Dusing {
    background: transparent !important;
    padding-top: 80px;
    padding-bottom: 32px;
  }
  .smallimg {
    display: none;
  }
  .dusing_img img {
    width: 130px;
  }
  .about_watt .right_arrow {
    margin-top: -8px;
    width: 40px;
  }
  .matt_anchor {
    align-items: center;
    margin-top: -19px;
  }
  .matt_heading br {
    display: none !important;
  }
  .matt_heading .matt_text {
    font-size: 18px;
    text-align: center;
    font-family: "Overlock";
    line-height: 26px;
  }

  .mobile-logo {
    width: 183px;
  }
  .matt_heading h1 {
    text-align: center;
    font-size: 51px;
    font-family: "Recoleta";
    line-height: 74.8px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
  .Exhibition_section .left_image {
    position: static;
    top: 20px;
    width: 100%;
  }

  .Exhibition_section {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .right_col {
    order: 1;
  }
  .left_col {
    order: 2;
  }
  .exhibition_heading h3 br {
    display: none !important;
  }
  .exhibition_heading h3 {
    font-weight: 400;
    font-size: 38px;
    line-height: 62px;
    font-family: "Recoleta";
  }
  .left_section {
    order: 2;
  }
  .right_section {
    order: 1;
  }
  .legend_section {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .west_coffee h1 {
    font-size: 38px;
    line-height: 47px;
    font-family: "Recoleta";
    color: rgba(26, 24, 24, 1);
  }
  .west_coffee h3 {
    font-size: 38px;
    line-height: 47px;
    font-family: "Recoleta";
    color: rgba(26, 24, 24, 1);
  }
  .west_coffee .legends_text {
    font-size: 16px;
    line-height: 24.64px;
    font-weight: 600;
    margin-top: 10px;
    color: #1a1818;
  }
  .west_coffee .west_legends {
    font-family: "Overlock";
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 400;
    color: rgba(18, 18, 19, 1);
  }
  .buy_now {
    justify-content: space-between;
  }
  .left_section .Usd_65 h2 {
    margin-top: -18px;
    /* font-family: 'Poppins'; */
    font-weight: 600;
    font-size: 28.17px;
    color: rgba(26, 24, 24, 1);
  }
  .free_shipping {
    font-size: 15.17px;
    line-height: 22.75px;
    font-family: "Poppins-Regular";
    margin-top: 10px;
  }
  .footer_title h1 {
    text-align: center;
  }
  .free_shipping {
    display: none;
  }
  .mobile_view {
    display: block !important;
  }
  .top_section {
    background-color: transparent;
    padding-top: 1px;
  }

  .Usd_65 h2 {
    margin-top: -47px !important;
  }
  .social_navs {
    display: none !important;
  }
  .mobile_view_social {
    display: block;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 10px;
  }
  .border-bottom-sm {
    border-bottom: 1px solid #afafaf;
  }
  .footer_navs {
    flex-direction: column;
    gap: 0px;
  }
  .footer_navs {
    text-align: center;
  }
  .footer_title {
    margin-top: 20px;
  }
  .footer_content {
    padding-top: 42px;
  }
  .horse-mobile-img {
    display: block;
  }
  .horse-desktop-img {
    display: none;
  }
}

/******************** Header CSS end ***********************/

.img-full {
  width: 100%;
}
.breadcrumb-sec {
  background: #d9d9d966;
}
.breadcrum-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.breadcrum-wrap p {
  margin-bottom: 0;
}
.back-wrap a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.back-wrap a img{
  width: 20px;
}
.room-heading {
  text-align: center;
  font-size: 45px;
  line-height: 61.2px;
  letter-spacing: -0.2px;
  font-family: "Recoleta";
  margin-bottom: 30px;
}
.breadcrum-wrap p {
  font-size: 14px;
  line-height: 16.39px;
  color: #000000;
  font-family: "Roboto Serif", serif;
}
.breadcrum-wrap p a{
  text-decoration: none;
  color: #000000;
}
.breadcrum-wrap p span:first-of-type {
  opacity: 50%;
}
.back-wrap a span{
  opacity: 100%;
  font-size: 15px;
}
.breadcrumb-sec .active-bredcrum {
  font-size: 14px;
  font-family: "Roboto Serif", serif;
  line-height: 16.39px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid;
}
.contact-heading {
  font-size: 45px;
  line-height: 61.2px;
  letter-spacing: -2px;
  color: #000000;
  text-align: center;
  font-family: "Recoleta";
  margin-top: 50px;
}
.contact-text {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 554px;
  margin: auto;
  margin-top: 20px;
}
.contact-form label {
  font-size: 14px;
  line-height: 20px;
  color: #8d8d8d;
  font-family: "Poppins-Medium";
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #8d8d8d;
  border-radius: 0;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  padding-left: 0;
  font-family: "Poppins-Medium";
}
.contact-form .form-control:focus {
  color: #8d8d8d;
  border-color: #000000;
  outline: 0;
  box-shadow: none;
}
.contact-form {
  padding: 30px;
}
.send-btn {
  background: #201e1e;
  border-radius: 5px;
  padding: 15px 48px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Poppins-Medium";
  display: flex;
  margin: 30px auto;
  box-shadow: 0px 0px 14px 0px #0000001f;
  border: 2px solid #201e1e;
  transition: 0.2s ease-in-out;
}
.send-btn:hover {
  border: 2px solid #201e1e;
  color: #201e1e;
}
.form-row {
  background: #fff;
  box-shadow: 0px 0px 60px 30px #00000008;
  border-radius: 10px;
  padding: 10px;
}
.contact-info-wrap {
  background: #201e1e;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.contact-info-wrap p {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.contact-info-wrap p {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.contact-email{
  font-family: "Overlock";
  font-weight: 400;
  line-height: 21.96px;
}
.social-icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.series-banner-img {
  position: relative;
  /* background: url("./assets/images/series-text-bg.png") no-repeat left 2.5px
      center;
  /* padding: 360px 0; 
  background-size: cover; */
}
.series-banner-content {
  position: absolute;
  top: 0;
  left: 0%;
  /* transform: translate(-50%, 0px); */
  background: url("./assets/images/series-text-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  /* max-width: 986px; */
}
.series-banner-content h3 {
  font-size: 49.96px;
  line-height: 97.3px;
  letter-spacing: -1px;
  font-family: "Recoleta";
  max-width: 986px;
  margin: auto;
}
.view_series_btn a{
  margin-top: 30px;
  justify-content: center !important;
}
.series-banner-content p {
  font-family: "Overlock";
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: #000;
  max-width: 986px;
  margin: auto;
}
.view-series-btn a {
  text-decoration: none;

  color:black;
  font-size: 22.99px;
  line-height: 31.27px;
  font-family: "Recoleta";
  padding: 13px 21px;

  transition: 0.2s ease-in-out;
}
.view-series-btn a:hover {
  color: #201e1e;
  background: transparent;

}
.series-text-content {
  padding-left: 50px;
}
.exhibi-banner-sec {
  background: #eaeaea;
  padding: 70px 0;
}
.exhibi-heading {
  font-size: 47px;
  line-height: 32px;
  font-family: "Recoleta";
  color: #000000;
  letter-spacing: 1px;
  text-align: center;
  padding: 30px 0;
}
.exhibi-inner-text {
  font-size: 24px;
  line-height: 32px;
  font-family: "Recoleta";
  color: #000000;
  letter-spacing: 1px;
}
.exhi-place-text {
  font-size: 23px;
  line-height: 31px;
  font-family: "Recoleta";
  color: #000000;
  letter-spacing: 0px;
  text-align: center;
}
.exhi-link-text {
  text-align: center;
}
.exhi-link-text a {
  font-size: 17px;
  line-height: 23.12px;
  font-family: "Recoleta";
  color: #000000d9;
  letter-spacing: 1px;
  text-align: center;
}
.expo-art-img-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.expo-art-img-wrap .col {
  display: flex;
}
.expo-art-img-wrap .col img {
  object-fit: cover;
}
.pollux-img-wrap {
  display: flex;
  column-gap: 5px;
  margin: 3px 0;
}
.pollux-img-wrap img {
  object-fit: cover;
}
.mobile_exibhition_text {
  display: none;
}
.desktop_hide {
  display: none;
}
.mobile_exibhition_text .heading h1 {
  font-size: 30px;
  font-family: "Recoleta";
  line-height: 40.8px;
  text-align: center;
  margin-top: 20px;
}
.mobile_views_echibi {
  display: none;
}
.view_hide_section {
  display: none !important;
}
.right_about .as_seasoned {
  font-size: 20px;
  line-height: 28px;
  font-family: "Overlock";
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 1);
  padding-right: 65px;
}
.right_about .heading_dusing {
  font-size: 51.62px;
  line-height: 70.2px;
  letter-spacing: 1px;

  font-family: "Recoleta";
  font-weight: 400;
}
.exhibi_img {
  width: 315px;
  height: 315px;
}
.pollux-img-wrap .col {
  display: flex;
}
.heading_icon_fourth img{
  width: 90px;

}

@media (max-width: 575px) {
  .mobile_exibhition_text {
    display: block;
  }
  .exhi-place-text {
    margin-top: 12px;
    font-size: 23px;
    line-height: 31px;
    font-family: "Recoleta";
    color: #000000;
    letter-spacing: 0px;
    text-align: center;
  }
  .view_hide_section {
    display: block !important;
  }
  .desktop_hide {
    display: block;
  }
  .exhi_place_section {
    display: none;
  }
  .mobile_views_echibi {
    display: block;
  }
  .photo_desktop {
    display: none;
  }
  .mobile_exibhition_text {
    padding-bottom: 50px;
  }
  .exhibi-heading {
    font-size: 30px;
    line-height: 40.8px;
    font-family: "Recoleta";
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
    padding: 0px 0;
  }
  .expo-art-img-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    column-gap: 5px;
  }
  .art_shopping {
    font-family: "Recoleta";
    font-weight: 400;
    font-size: 23px;
    line-height: 31.28px;
    letter-spacing: 2px;
    text-align: center;
  }
  .pollux-img-wrap {
    display: none;
  }
  .expo_width {
    flex: 1;
    width: 100%;
    /* height: 385px; */
  }
  .expo-art-img-wrap .row {
    flex-direction: column;
    width: 100%;
  }

  .mobile_flex {
    display: flex;
    gap: 10px;
  }
  .exhibi-inner-text {
    margin-top: 23px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Recoleta";
    color: #000000;
    letter-spacing: 1px;
  }
  .mobile_flex_width {
    width: 170px;
  }
  .exhibi-banner-sec {
    background: #eaeaea;
    padding: 25px 0;
    padding-bottom: 90px;
  }
  .exhibi-img-sec {
    margin-top: 40px;
  }
  .desktop_exhibi_section {
    display: none;
  }
  .mobile_exibhition_text .mainMatt {
    font-size: 22px !important;
    font-family: "Roboto Serif", serif;
    margin-top: 10px !important;
    line-height: 27.28px !important;
  }
  .breadcrum-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
  }
  .mobile_exibhition_text .context {
    font-size: 17px;
    font-family: "Overlock";
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
    --bs-gutter-x: 0.5rem;
  }
  .series-banner-content {
    position: relative;
    padding-top: 30px;
    background: transparent !important;
  }
  .series-banner-img > img {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact-heading {
    font-size: 30px;
    line-height: 38.2px;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
    margin-top: 30px;
  }
  .contact-text {
    font-size: 17px;
    line-height: 23px;
    font-family: "Overlock" !important;
  }
  .Exhibition_section .left_image_section .view_award {
    display: block;
  }
  .room-heading {
    font-size: 30px;
    line-height: 40.8px;
    margin-bottom: 6px;
  }
  .header .logo {
    margin-right: initial;
  }
  .contact-form {
    padding: 30px 0px;
  }
  .series-banner .series-banner-content h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .series-text-content {
    padding-left: 0;
  }
  .series-text-content h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .pollux-img-wrap {
    flex-wrap: wrap;
  }
}
.desktop_legend_section {
  display: none;
}

@media (min-width: 768px) and (max-width: 820px) {
  .series-banner-content {
    padding-top: 15px;
  }
  .series-banner-content h3 {
    font-size: 49.96px;
    line-height: 93.3px;
    max-width: 586px;
}
.series-banner-content p {
  font-size: 17px;
  line-height: 23px;
  max-width: 586px;
}
.series-banner{
  padding-bottom: 30px;
}
.bottom-series-row{
  flex-direction: column-reverse;
}
.footer_content .row{
  padding-right: 40px;
}
}
@media (min-width:821px) and (max-width: 1080px){
  .horse_slider_section.desktop_Section .body {
    position: relative;
    height: 50vh;
}
.swiper-slide .imagess {
  top: 35%;
}
.swiper-content-row{
  flex-direction: column;
  align-items: flex-start!important;
}
}
@media (min-width:1080px) and (max-width: 1180px){
  .horse_slider_section.desktop_Section .body {
    position: relative;
    height: 75vh;
}
.swiper-slide .imagess {
  top: 45%;
}
.swiper-content-row{
  flex-direction: column;
  align-items: flex-start!important;
}
}
@media (min-width:1181px) and (max-width: 1380px){
  .horse_slider_section.desktop_Section .body {
    position: relative;
    height: 85vh;
}
.swiper-slide .imagess {
  top: 30%;
}
}