@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "RecifeDisplay";
    src: url("../assets/fonts/recife/RecifeDisplay-Light.ttf");
  }
  @font-face {
    font-family: "Recoleta";
    src: url("../assets/fonts/recoleta/Recoleta-RegularDEMO.otf");
  }
  
  .breadcrumb-sec .active-bredcrum{
    font-size: 14px;
    font-family: 'Roboto',serif;
    line-height: 16.39px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 1);
  }
  .breadcrum-wrap p{
    font-family: 'Roboto',serif;
  }
  .back-wrap .back_text{
    color: black !important;
    opacity: 100% !important;
    font-family: 'Poppins-Regular',sans-serif;
  }
  .gallery_section .gallery_heading .main_heading{
       font-family: 'Recoleta';
       font-weight: 400;
       font-size: 45px;
       line-height: 61.2px;
    
  }
  .gallery_heading .main_text{
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 17px;
    line-height: 27.28px;
    letter-spacing: 1.2px;
    color: rgba(0, 0, 0, 0.78);
  }
  .gallery_section{
    margin-top: 60px;
  }
 .height_img{
    height: 376px;
    object-fit: cover;
 }
 .load_more  button{
    background-color: rgba(32, 30, 30, 1);
    border: 2px solid rgba(32, 30, 30, 1);
    
    height: 57px;
    font-size: 22.99px;
    line-height: 31.27px;
    font-family: 'Recoleta';
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1.2px;
    font-weight: 400 ;
    padding: 13px 21px;
 }
 .load_more_section{
    margin-top: 120px;
 }
 .gallery_legen_section{
    margin-top: 50px;
    padding-top: 30px;
 }
 .gallery_legen_section .legends_text{
    font-weight: 600;
    font-family: 'Inter';
    font-size: 18px;
 }
 .mustang_heading h1{font-family: 'Recoleta';
    font-weight: 400;
    font-size: 30px;
    line-height: 40.8px;
    letter-spacing: 1.3px;

 }